/* core elements */
a {
  text-decoration: none;
}

body {
  background-color: #000;
  text-align: left;
  color: yellow;
  margin: 0 24pt 0 24pt;
  font-family: Arial, sans-serif;
  font-size: 13pt;
}

div {
  height: 16pt;
}

ul {
  list-style-type: none;
  list-style-position: outside;
}

b {
  background-color: #000;
  text-align: left;
  color: yellow;
  font-family: Arial, sans-serif;
  font-size: 14pt;
}

figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
}

u {
  text-decoration: underline;
}
.underline {
  text-decoration: underline gray solid;
}

.nospacebetween {
  margin: 0;
  padding: 0;
}
.littlespacebetween {
  height: 6px;
}

.webframe {
  width: 100%;
}

/* Week 1 text hyperlinks */

.wk1loading {
  .strike-through {
    text-decoration: line-through;
    text-decoration-color: #0b3;
  }
}

.actwk1:hover {
  color: yellow;
}

.backbutton {
  color: #ff66ff;
  text-align: right;
  margin: 0 24pt 0 24pt;
  text-decoration: none;
}
.backbutton:hover {
  color: #ffffff;
}

.textlinkwk1 {
  color: yellow;
  text-decoration: none;
}
.textlinkwk1:hover {
  color: blue;
}
/* Week xxxxx text hyperlinks */

/* Flex-item-stuff */

* {
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex-wrap: wrap-reverse;
  font-size: 1em;
  padding: 1em;
  margin: 2em;
}
.flex-item-left {
  flex: 76%;
  text-align: left;
}

.flex-item-middle {
  padding: 0.25em;
  flex: 8%;
  color: #de2323e6;
}
.flex-item-right {
  flex: 16%;
  top: 1em;
}

#myCanvas {
  position: fixed;
  right: 4.5em;
  bottom: 4em;
  transform: translateY(-50%);
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */

@media (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap-reverse;
    font-size: 1em;
    padding: 1em;
    margin: 2em;
  }
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}

a:hover {
  color: #ff0000;
}

/* Massive acknoledgement to: Karen Ann Donnachie & Matilda Sutherland 
No way I would have been able to do this without their help.
*/
